<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings from ARVSM, <%= @request.user.name %></h1>
    <p>
      Your request has been 
     <%= @request.status %><br>
    </p>
    <p>
      Login to the application to find out more
    </p>
    <p>Have a nice day!</p>
  </body>
</html>